* {
  box-sizing: border-box;
  outline: none;
}

html,
body {
  padding: 0;
  margin: 0;
  background: #212121;
  color: #fafafa;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}

.nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  padding: 0 8px 0 28px;
  margin: 0;
  color: #212121;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.2s ease;
  h2 {
    justify-self: flex-start;
    font-size: 25px;
    margin: 0;
    padding: 0;
    opacity: 0;
    transition: opacity 0.2s ease;
  }
  a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    display: inline-block;
    padding: 12px 24px;
    margin: 16px 8px;
    box-sizing: border-box;
    font-weight: 400; //600;
    color: inherit;
    outline: none;
    &:hover,
    &:focus {
      color: #212121;
      background: #fff;
    }
  }

  @media screen and (max-width: 1020px) {
    transition: opacity 0.25s linear;
    height: 100%;
    color: #aaa;
    background: rgba(21, 21, 21, 0.8);
    backdrop-filter: blur(20px) saturate(180%);
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
    h2 {
      font-size: 40px;
      margin: 64px 0;
      opacity: 1;
    }
    nav {
      a {
        display: block;
        width: 100%;
        margin: 32px 0;
        text-align: center;
      }
    }
  }
}

body.portfolio {
  > a > h2 {
    opacity: 1;
    color: #aaa;
    margin-left: 32px;
    text-decoration: none;
  }
  .nav {
    color: #fff;
  }

  .nav-toggle {
    fill: #fff;
  }
}

.nav-open {
  .nav {
    opacity: 1;
    pointer-events: auto;
  }

  .nav-toggle {
    fill: #fff;
    svg {
      &#close {
        transform: scale(1);
        opacity: 1;
      }
      &#open {
        transform: scale(0);
        opacity: 0;
      }
    }
  }
}

.header-filled .nav,
.header-filled .nav-toggle {
  color: #aaa;
  fill: #aaa;
  background: rgba(21, 21, 21, 0.8);
  backdrop-filter: blur(20px) saturate(180%);
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);

  h2 {
    opacity: 1;
  }
}
.nav-toggle {
  display: none;
  @media screen and (max-width: 1020px) {
    display: block;
    position: fixed;
    top: 0px;
    right: 0px;
    fill: #000;
    width: 64px;
    height: 64px;
    z-index: 2;
    cursor: pointer;

    svg {
      width: 48px;
      height: 48px;
      position: absolute;
      top: 8px;
      right: 8px;
      transition: transform 0.2s, opacity 0.2s;
      &#close {
        transform: scale(0);
        opacity: 0;
      }
    }
  }
}

section {
  position: relative;
  height: 100vh;
  width: 100%;

  &#welcome {
    #scrollingVideo {
      height: 100vh;
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: fixed;
      background: url('/images/lys-bw.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0;
      animation: fade 3s ease 0s 1 forwards;

      @keyframes fade {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
    }

    $fontSize: 10vw;
    h1 {
      font-size: $fontSize;
      font-weight: 400; //600;
      line-height: $fontSize;
      top: calc(50% - #{$fontSize / 2});
      position: absolute;
      text-align: center;
      width: 100%;
      margin: 0;
      padding: 0;
      .js-lystaddei-text-animation {
        display: inline-block;
      }
    }

    .scroll-down {
      position: absolute;
      font-size: calc(15px + 2vw);
      text-align: center;
      width: 100%;
      left: 0;
      top: calc(50% + #{$fontSize});
      cursor: pointer;
      color: inherit;
      text-decoration: none;
      p {
        margin: 0;
        padding: 0;
      }
      svg {
        $size: calc(25px + 2vw);
        width: $size;
        height: $size;
        fill: #fff;
      }
    }

    #scrollingLineContainer {
      position: absolute;
      top: 100%;
      // top: 0;
      // bottom: 0;
      // left: 50%;
      // transform: translateX(-50%, 0);
      right: 0;
      height: 100%;
      width: 100%;
    }
  }

  &#portfolio {
    background: #212121;
    padding: 96px 0 0 0;
    $fontSize: 10vw;
    height: auto;
    text-align: center;
    h2 {
      font-size: $fontSize;
      font-weight: 400; //600;
      line-height: $fontSize;
      text-align: center;
      width: 100%;
      margin: 0;
      padding: 0;
    }

    .image-count {
      width: 100%;
      position: relative;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      padding: 0 64px 32px 64px;
      div {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background: #888;
        margin: 0 8px 8px 8px;
        cursor: pointer;
        &:hover {
          background: #aaa;
        }
        &.active {
          background: #fff;
        }
      }
    }
  }

  &#about {
    background: #212121;
    padding: 32px 0;
    $fontSize: 10vw;
    height: auto;
    h2 {
      font-size: $fontSize;
      font-weight: 400; //600;
      line-height: $fontSize;
      text-align: center;
      width: 100%;
      margin: 0;
      padding: 0;
      .js-lystaddei-text-animation {
        display: inline-block;
      }
    }

    a {
      text-decoration: none;
    }

    #aboutWrapper {
      font-size: 25px;
      font-family: 'Montserrat', sans-serif;
      width: 66.66%;
      margin: 64px auto;
      padding: 32px 64px;
      position: relative;
      line-height: 1.5em;
      &::before,
      &::after {
        content: '';
        display: block;
        position: absolute;
        $size: 200px;
        width: $size;
        height: $size;
        border: 8px solid #fff;
      }

      &::before {
        right: 0;
        top: 0;
        border-left: none;
        border-bottom: none;
      }
      &::after {
        left: 0;
        bottom: 0;
        border-right: none;
        border-top: none;
      }

      @media screen and (max-width: 1020px) {
        padding: 32px 48px;
        width: 80%;
      }

      @media screen and (max-width: 560px) {
        width: 90%;
        padding: 24px 32px;
        font-size: 18px;
      }
    }

    svg {
      $size: calc(25px + 2vw);
      width: $size;
      height: $size;
      fill: #fff;
      position: absolute;
      bottom: 32px;
      left: 50%;
      transform: translateX(-50%);
      cursor: pointer;
    }
  }

  &#inquire {
    min-height: 100vh;
    height: auto;
    $fontSize: 10vw;
    padding: 64px 16.66%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    h2 {
      font-size: $fontSize;
      font-weight: 400; //600;
      line-height: $fontSize;
      text-align: center;
      width: 100%;
      margin: 0;
      padding: 0;
      .js-lystaddei-text-animation {
        display: inline-block;
      }
    }

    #form {
      position: relative;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      backdrop-filter: blur(10px);
      padding: 64px 128px;

      .invalid {
        box-shadow: 0 0 0 7px #000, 0 0 0 8px #f00 !important;
      }

      &.sending {
        pointer-events: none;
        opacity: 0.9;
        filter: blur(20px);
      }

      .error {
        font-size: 20px;
        color: red;
        background: #fff;
      }

      .message {
        width: 100%;
        height: 120px;
        font-size: 30px;
        background: #efe;
        color: #0a0;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      input,
      textarea {
        width: 100%;
        height: 60px;
        margin: 32px 0;
        padding: 0 32px;
        font-size: 20px;
        outline: none;
        color: #212121;
        border: none;
        font-weight: 400; //600;
        font-family: 'Montserrat', sans-serif;
        &:focus,
        &:hover {
          box-shadow: 0 0 0 7px #000, 0 0 0 8px #fff;
        }
      }

      textarea {
        height: 200px;
        padding: 32px;
      }

      button {
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-size: 20px;
        display: inline-flex;
        padding: 12px 24px;
        margin: 32px 0 0 0;
        box-sizing: border-box;
        font-weight: 400; //600;
        color: #212121;
        border: none;
        fill: currentColor;
        cursor: pointer;
        outline: none;
        svg {
          margin: 0 0 0 16px;
        }
        &:focus,
        &:hover {
          box-shadow: 0 0 0 7px #000, 0 0 0 8px #fff;
        }
        &:active {
          background: #000;
          color: #fff;
        }
      }
    }

    @media screen and (max-width: 1020px) {
      padding: 64px 5%;

      #form {
        padding: 48px;
      }
    }
    @media screen and (max-width: 560px) {
      padding: 48px 16px;
      #form {
        padding: 32px 16px;
      }
    }
  }
}

#imageSliderContainer {
  height: calc(100vh - 300px);
  overflow: hidden;
  width: 100%;
  position: relative;
  padding: 64px 0 0 0;

  .slider-image {
    height: calc(100% - 128px);
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    position: absolute;
    top: 64px;
    left: 0;
    transition: opacity 0.2s linear;
    &.hide {
      opacity: 0;
    }
  }

  .next,
  .prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 64px;
    height: 64px;
    background: rgba(33, 33, 33, 0.6);
    backdrop-filter: blur(20px);
    left: 5%;
    fill: #fff;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      transform: translateY(-50%) scale(1.1);
      background: rgba(255, 255, 255, 1);
      fill: #212121;
    }
    &:active {
      background: #000;
      fill: #fff;
    }
  }

  .next {
    left: auto;
    right: 5%;
    transform: translateY(-50%) rotate(180deg);
    &:hover {
      transform: translateY(-50%) rotate(180deg) scale(1.1);
    }
  }
}

footer {
  background: #212121;
  color: #888;
  width: 100%;
  min-height: 60px;
  position: relative;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400; //600;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;

  a {
    text-decoration: none;
    color: inherit;
    border-bottom: 2px solid currentColor;
  }

  > span {
    margin: 16px 32px;
  }
}
a {
  text-decoration: none;
}
#viewFullPortfolio {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  display: inline-flex;
  padding: 16px 32px;
  margin: 0 auto 32px auto;
  box-sizing: border-box;
  font-weight: 400; //600;
  color: #212121;
  border: none;
  background: #fafafa;
  cursor: pointer;
  text-decoration: none;
  outline: none;

  &:focus,
  &:hover {
    box-shadow: 0 0 0 7px #000, 0 0 0 8px #fff;
  }
  &:active {
    background: #000;
    color: #fff;
  }
}

#fullPortfolio {
  background: #212121;
  padding: 196px 0;
  $fontSize: 10vw;
  text-align: center;
  height: auto;
  min-height: 100vh;
  @media screen and (max-width: 1020px) {
    padding: 96px 0;
  }
  h1 {
    font-size: $fontSize;
    font-weight: 400; //600;
    line-height: $fontSize;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
    .js-lystaddei-text-animation {
      display: inline-block;
    }
  }

  p {
    font-size: calc(15px + 2vw);
  }

  .masonry {
    margin: 1.5em auto;
    width: 100%;
    max-width: 90%;
    column-gap: 1.5em;
    column-count: 3;
    position: relative;

    @media screen and (max-width: 1080px) {
      column-count: 2;
    }

    img {
      margin: 0 0 1.5em;
      width: 100%;
      position: relative;
      opacity: 0;
      transition: opacity 1s linear;
      cursor: pointer;

      &.loaded {
        opacity: 1;
      }

      &.big {
        width: 100%;
        height: 100vh;
        z-index: 1;
        position: fixed;
        top: 0;
        left: 0;
        object-fit: contain;
        padding: 2%;
        backdrop-filter: blur(15px) saturate(180%);
        background: rgba(30, 30, 30, 0.2);
      }
    }
  }
}
